body {
    background-color: rgb(26, 26, 26);
}

.game-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
}

.results {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.choices {
    display: flex;
    gap: 10px;
}

.score {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}