.game-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.results {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}